---

- name: compile | Ensure we have sane configuration
  ansible.builtin.fail:
    msg: You must set "besu_git_repo" for this role to run when "besu_build_from_source" is enabled
  when: not (besu_git_repo is defined) or besu_git_repo|length == 0

- name: compile | Check JDK version
  shell: javac -version | egrep -o '[0-9]+\.[0-9]+\.[0-9]+'
  register: jdk_version
  changed_when: false
  ignore_errors: true

- name: compile | Ensure JDK is installed
  ansible.builtin.fail:
    msg: "You must have JDK 21 or later installed. {{ 'No version found.' if jdk_version is failed else 'Found version ' + jdk_version.stdout }}"
  when: jdk_version.stdout is version('21.0.0', '<')

- name: compile | Clone Besu Sources
  ansible.builtin.git:
    repo: "{{ besu_git_repo }}"
    dest: '/tmp/besu'
    version: "{{ besu_git_commit }}"
    recursive: yes
    depth: 1
  become: true
  become_user: ubuntu

- name: compile | Attempt to Build Besu with retries
  block:
    - name: compile | Fix permissions before Gradle starts
      ansible.builtin.file:
        path: /tmp/besu
        owner: ubuntu
        group: ubuntu
        recurse: yes
      become: true

    - name: compile | Build Besu
      ansible.builtin.shell: "{{ besu_build_from_source_cmd }}"
      args:
        chdir: /tmp/besu
      become: true
      become_user: ubuntu
      register: besu_build_result
      changed_when: true
      ignore_errors: true  # handle the failure manually in the next step
      retries: "{{ besu_build_retries | int }}"  
      delay: 10   # wait 10 seconds between retries
      until: besu_build_result.rc == 0  # retry until the command returns a successful return code

  rescue:
    - name: compile | Show Besu build errors
      ansible.builtin.command: tail -n 200 /tmp/besu/build.log
      register: besu_log_tail
      when: besu_build_result.failed

    - name: compile | Print build errors
      ansible.builtin.debug:
        msg: "{{ besu_log_tail.stdout_lines }}"
      when: besu_build_result.failed

    - name: compile | Fail the playbook if build failed
      ansible.builtin.fail:
        msg: "The Besu build failed after {{ besu_build_retries }} attempts. Check /tmp/besu/build.log on the target machine for full details."
      when: besu_build_result.failed

- name: compile | Get Besu Version
  ansible.builtin.shell: "basename build/distributions/*.tar.gz .tar.gz | sed 's/^besu-//'"
  args:
    chdir: /tmp/besu
  register: besu_version_cmd
  changed_when: false

- name: compile | Set Besu Version Fact
  ansible.builtin.set_fact:
    _besu_version: "{{ besu_version_cmd.stdout }}"
