---

- name: Ensure we have sane configuration
  ansible.builtin.fail:
    msg: You must set "besu_git_repo" for this role to run when "besu_build_from_source" is enabled
  when: not (besu_git_repo is defined) or besu_git_repo|length == 0

- name: Check JDK version
  shell: javac -version | egrep -o '[0-9]+\.[0-9]+\.[0-9]+'
  register: jdk_version
  changed_when: false
  ignore_errors: true

- name: Ensure JDK is installed
  ansible.builtin.fail:
    msg: "You must have JDK 21 or later installed. {{ 'No version found.' if jdk_version is failed else 'Found version ' + jdk_version.stdout }}"
  when: jdk_version.stdout is version('21.0.0', '<')

- name: Clone Besu Sources
  ansible.builtin.git:
    repo: "{{ besu_git_repo }}"
    dest: '/tmp/besu'
    version: "{{ besu_git_commit }}"
    recursive: false
    depth: 1

- name: Build Besu
  ansible.builtin.shell: ./gradlew --no-daemon --parallel clean assemble -x compileSolidity > build.log 2>&1
  args:
    chdir: /tmp/besu
  register: besu_build_result
  changed_when: true
  ignore_errors: true  # handle the failure manually in the next step

- name: Show Besu build errors
  ansible.builtin.command: tail -n 200 /tmp/besu/build.log
  register: besu_log_tail
  when: besu_build_result.failed

- name: Print build errors
  ansible.builtin.debug:
    msg: "{{ log_tail.stdout_lines }}"
  when: besu_build_result.failed

- name: Fail the playbook if build failed
  ansible.builtin.fail:
    msg: "The Besu build failed. Check /tmp/besu/build.log on the target machine for full details."
  when: besu_build_result.failed

- name: Get Besu Version
  ansible.builtin.shell: "basename build/distributions/*.tar.gz .tar.gz | sed 's/^besu-//'"
  args:
    chdir: /tmp/besu
  register: besu_version_cmd
  changed_when: false

- name: Set Besu Version Fact
  ansible.builtin.set_fact:
    _besu_version: "{{ besu_version_cmd.stdout }}"
