---
- name: Ensure Besu group exists
  ansible.builtin.group:
    name: "{{ besu_group }}"
    state: present
  become: true

- name: Create Besu user
  ansible.builtin.user:
    comment:  Besu client user
    name: "{{ besu_user }}"
    group: "{{ besu_group }}"
  become: true

- name: Create directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ besu_user }}"
    group: "{{ besu_group }}"
  loop:
    - "{{ besu_base_dir }}"
    - "{{ besu_install_dir }}"
    - "{{ besu_config_dir }}"
    - "{{ besu_plugins_dir }}"
    - "{{ besu_pyroscope_dir }}"
    - "{{ besu_data_dir }}"
    - "{{ besu_log_dir }}"
  become: true

- name: Ownership init marker
  ansible.builtin.stat:
    path: "{{ besu_data_dir }}/.ownership_initialized"
  register: ownership_marker

- name: Setup logrotate
  ansible.builtin.template:
    src: "logrotate/besu"
    dest: "/etc/logrotate.d/besu"
  become: true

- name: Populate service facts
  ansible.builtin.service_facts:

# This will ignore the case when besu is manually stopped - it assumes that is a mistake
# If you are manually stopping and updating besu - disable the systemd service
- name: Debug besu_state_updates
  ansible.builtin.debug:
    var: ansible_facts.services['besu.service']

- name: Halt the service if its running while we update
  ansible.builtin.systemd:
    name: besu
    state: "stopped"
  become: true
  register: besu_systemd_stopped
  when: (ansible_facts.services['besu.service'] is defined) and
        (ansible_facts.services['besu.service'].status =="enabled")

- name: Set updated optionally to trigger a systemd restart at the end
  ansible.builtin.set_fact:
    besu_state_updates: "{{ besu_state_updates + ['besu.running_service'] }}"
  when: (besu_systemd_stopped is defined) and 
        (besu_systemd_stopped.state | default('') == "stopped")

- block:
    - name: One-time recursive ownership of data dir
      ansible.builtin.file:
        path: "{{ besu_data_dir }}"
        state: directory
        owner: "{{ besu_user }}"
        group: "{{ besu_group }}"
        recurse: true
      become: true

    - name: Record that ownership was initialized
      ansible.builtin.copy:
        dest: "{{ besu_data_dir }}/.ownership_initialized"
        content: "initialized: {{ ansible_date_time.iso8601 }}"
        owner: "{{ besu_user }}"
        group: "{{ besu_group }}"
        mode: "0644"
      become: true
  when: not ownership_marker.stat.exists

- name: Extract Besu source to install directory
  ansible.builtin.unarchive:
    src: "{{ '/tmp/besu/build/distributions/besu-' + _besu_version + '.tar.gz' if besu_build_from_source else besu_download_url }}"
    remote_src: yes
    dest: "{{ besu_install_dir }}"
    owner: "{{ besu_user }}"
    group: "{{ besu_group }}"
    mode: '0775'
    extra_opts:
      - --strip-components
      - '1'
  become: true

- name: delete the besu_build_from_source directory
  file:
    path: '/tmp/besu'
    state: directory
    owner: "{{ besu_user }}"
    group: "{{ besu_group }}"
    state: absent
  become: true
  when: besu_build_from_source

- name: Install plugins
  include_tasks: "plugins.yml"
  when: besu_plugins != []

- name: Create a symlink to current
  ansible.builtin.file:
    src: "{{ besu_install_dir }}/"
    dest: "{{ besu_current_dir }}"
    state: link
  become: true
  register: link_current

- name: Set updated optionally to trigger a systemd restart at the end
  ansible.builtin.set_fact:
    besu_state_updates: "{{ besu_state_updates + ['besu.install_dir'] }}"
  when: link_current is changed
