---
- name: main | Ensure we have sane configuration
  block:
    - name: main | Check besu_version is correct
      ansible.builtin.fail:
        msg: You must set "besu_version" for this role to run when not building Besu from source
      when: besu_version is not defined and not besu_build_from_source

    - name: main | Check besu_privacy_enabled is not set when fast sync is enabled
      ansible.builtin.fail:
        msg: Orion and Fast-Sync are incompatible
      when: ( besu_privacy_enabled|bool ) and
            ( besu_privacy_public_key_file != "" ) and
            ( besu_sync_mode == "FAST" )

# Using internal variable _besu_version which allows override using set_fact
- name: main | Set fact for Besu version
  ansible.builtin.set_fact:
    _besu_version: "{{ besu_version }}"

# Retrive latest version when besu_version == 'latest'
- name: main | Include task to retrieve latest version
  ansible.builtin.include_tasks: "latest.yml"
  when: besu_version == 'latest'

- name: main | Include OS and distribution specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution|lower }}.yml"
        - "{{ ansible_os_family|lower }}.yml"
      skip: true

- name: main | Compile besu
  ansible.builtin.include_tasks: "compile.yml"
  when: besu_build_from_source

- name: main | Install besu
  ansible.builtin.include_tasks: "install.yml"

- name: main | Run OS specific installation tasks
  ansible.builtin.include_tasks: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution|lower }}/install.yml"
        - "{{ ansible_os_family|lower }}/install.yml"
      skip: true

- name: main | Get IP address to bind to if not provided
  ansible.builtin.include_tasks: "network.yml"
  when: not besu_host_ip

- name: main | Get private IP address to bind to if not provided for fleet mode
  ansible.builtin.include_tasks: "fleet.yml"
  when: besu_plugin_fleet_node_role != ""

- name: main | Setup pyroscope
  ansible.builtin.include_tasks: "pyroscope.yml"
  when: besu_pyroscope_enabled

- name: main | Create config
  ansible.builtin.include_tasks: "config.yml"

- name: main | Create Besu service
  ansible.builtin.include_tasks: "service.yml"

- name: main | Set version info on a local file
  ansible.builtin.include_tasks: "tags.yml"